<!DOCTYPE html>
<html lang = "ko">
	<head>
		<meta http-equiv = "content-type" content = "text/html" charset = "utf-8">
		<title> Not Found </title>
		<link rel = "shortcut icon" href = "asset/logo.png" type = "image/png">
		<link rel = "stylesheet" href = "asset/style.css" type = "text/css">
		<style type = "text/css">
			body {
				margin: 0;
				padding: 0;
				text-align: center;
			}
			h1 {
				padding-top: 10%;
				color: #48ad4c;
				font-family: consolas;
				font-size: 250%;
			}
			h2 {
				padding-top: 2%;
				color: grey;
				cursor: pointer;
			}
			h2:hover {
				position: relative;
				top: 2px;
			}
		</style>
	</head>
	<body>
		<h1> 404 Not Found </h1>
		<h2 onclick="location.href='/'"> > Go back to main page </h2>
	</body>
</html>
